.VideoPlayer {
  flex: 1 0 1px;
}

.VideoPlayer video {
  width: 500px;
  height: 500px;
}

.VideoPlayerPanel {
  display: flex;
  flex-direction: column;
  flex: 1 0 1px;
}

.VideoPlayerPanel__controls {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 16px;
}

.VideoPlayerPanel__container {
  display: flex;
  flex-direction: column;
  flex: 1 0 1px;
}